body {
    background-color: #1A1B1B;
    font-family: 'Roboto', sans-serif;
    color: #F8F4EB;
    font-size: 20px;
}

main {
    padding: 0 100px;
    margin-top: 120px;
}

.text-about {
    max-width: 500px;
    padding: 0;
}