body {
    background-color: #1A1B1B;
    font-family: 'Roboto', sans-serif;
    color: #F8F4EB;
    font-size: 20px;
}

/* faça a estilização da página Search.js */
/* .main-search-pg {
} */

.searchContainer {
    margin: 0 0 100px 0;
}

.searchContainer label {
    font-weight: 300;
}

.searchContainer form input {
    margin-right: 15px;
    padding: 4px 10px;
    background-color: #6d6d6d;
    border: none;
    border-radius: 0.5em;
}

.searchContainer form button {
    padding: 5px 20px;
    border-radius: 0.5em;
    border: none;
    color: #B1F830;
    background-color: #6d6d6d;
    cursor: pointer;
}

.searchContainer form button:disabled {
    padding: 5px 20px;
    border-radius: 0.5em;
    border: none;
    color: #535353;
}


/* faça a estilização da lista dos álbuns após pesquisar */
.albuns-container {
    margin-bottom: 100px;
}

