/* faça a estilização do componente Header.js */
header {
    background-color: #545454;
    padding: 10px 20px;
}

header img {
    width: 90px;
    margin: 10px
}

nav .link {
    color: #F8F4EB;
    padding: 15px;
}

nav .link:hover {
    color: #93cc29;
}