body {
    background-color: #1A1B1B;
    font-family: 'Roboto', sans-serif;
    color: #F8F4EB;
    font-size: 20px;
}

h1 {
    font-family: 'BioRhyme', serif;
}

/* faça a estilização da página home.js.js */
main {
    padding-inline: 150px;
    background-color: #1A1B1B;
    font-family: 'Roboto', sans-serif;  
   
}

img {
    width: 450px;
    margin-bottom: 100px;
}

/* faça a estilização da página home.js.js */
/* .text-lp-wrapper {
} */

.text-lp-wrapper h3 {
    margin-top: 100px;
    color: #B1F830;
}

.text-lp-wrapper h1 {
    font-size: 85px;
    line-height: 105px;
    margin: 0;
}

.text-lp-wrapper p {
    max-width: 450px;
    font-size: 18px;
    margin: 35px 0;
}

.text-lp-wrapper .home-button {
    background-color: #B1F830;
    font-size: 18px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 2em;
    color: #1A1B1B;
    text-decoration: none;
}

.home-button:hover {
    background-color: #93cc29;
    color: white;
}